@model IEnumerable<AllRecipeViewModel>
@{
    ViewBag.Title = "All Recipes";
}


 <h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <img class="card-imgurl" style="width: 18rem; height: 15rem;" src="@e.ImageUrl" alt="recipe image" />
                <h4 class="card-title">@e.Name</h4>
                <br />
                <h5 class="card-cook">Cooked by: @e.Cook.Substring(0, e.Cook.LastIndexOf("@"))</h5>
                <h5 class="card-categoryname">Category: @e.CategoryName</h5>
                <h5 class="card-difficultyname">Difficulty level: @e.DifficultyName</h5>
                <h5 class="card-ingredientcount">Ingredients: @e.IngredientCount</h5>
                <h5 class="card-commentcount">Comments: @e.CommentCount</h5>
                <h5 class="card-madebycount">Made by @e.MadeByCount users</h5>
                <p class="mb-0"><span class="fw-bold">Preparation time: </span>@e.PreparationTime</p>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
