@model IEnumerable<RecipeDetailsServiceModel>
@{
    ViewBag.Title = "Details";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/design.css">
</head>
<h2 class="text-center">@ViewBag.Title</h2>
<hr />


@foreach (var e in Model)
{
    ViewData["Id"] = @e.Id;
    <div class="details-body">
        <section>


            <div class="title">
                <p>@e.Name</p>

            </div>
            <article>
                <header>
                    <div class="details">
                        <div class="icon">
                            <i class="fa-solid fa-person"></i>
                            <p><strong>Chef</strong></p>
                            <p>@e.Cook.Substring(0, @e.Cook.LastIndexOf("@"))</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-users"></i>
                            <p><strong>Made by</strong></p>
                            <p>@e.MadeByCount users</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-calendar-days"></i>
                            <p><strong>Posted on</strong></p>
                            <p>@e.PostedOn</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-bars"></i>
                            <p><strong>Category</strong></p>
                            <p>@e.CategoryName</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-signal"></i>
                            <p><strong>Difficulty level</strong></p>
                            <p>@e.DifficultyName</p>
                        </div>
                        <div class="icon">
                            <i class="fa-regular fa-clock"></i>
                            <p><strong>Time</strong></p>
                            <p>@e.PreparationTime min</p>
                        </div>
                    </div>


                    <div class="ingredients">
                        <p>Needed ingredients</p>
                        <div class="products">
                            <ul>

                                @foreach (var ingredient in e.Ingredients)
                                {
                                    <li>@ingredient.Quantity @ingredient.Unit @ingredient.Name</li>

                                }
                            </ul>
                        </div>
                    </div>
                </header>
                <div class="image">
                    <img src="@e.ImageUrl" alt="Recipe image">
                </div>

            </article>

        </section>

        <section class="preparation">
            <p class="preparation-title">Preparation instructions</p>
            <div class="description">
                <p>
                    @e.Instructions
                </p>
            </div>
            <section class='comments' style="background-color: #fff;width: 60vw;align-self: center;border-top-left-radius: 2em ;border-top-right-radius: 2em ;">
                <div class="container my-2 py-5">
                    <div class="row d-flex justify-content-center" style="gap:2em;">
                        @foreach (var comment in e.Comments)
                        {
                            <partial name="_CommentsPartialView" model="@comment" />
                        }
                        <partial name="_AddCommentPartialView" model="e.AddComment" view-data="ViewData" />
                    </div>
                </div>
            </section>
        </section>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
