@model RecipeFormViewModel
@{
    ViewBag.Title = "Edit your recipe";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label-add-edit">Recipe name</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Instructions" class="form-label-add-edit">Instructions</label>
                <textarea asp-for="@Model.Instructions" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="@Model.Instructions" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.PreparationTime" class="form-label-add-edit">Preparation time</label>
                <input asp-for="@Model.PreparationTime" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.PreparationTime" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label-add-edit">Recipe image</label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CategoryId" class="form-label-add-edit">Select Category</label>
                <select asp-for="@Model.CategoryId" class="form-control" aria-required="true">
                    <option disabled selected value="">Select Category...</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.DifficultyId" class="form-label-add-edit">Select Difficulty</label>
                <select asp-for="@Model.DifficultyId" class="form-control" aria-required="true">
                    <option disabled selected value="">Select Difficulty...</option>
                    @foreach (var difficulty in Model.Difficulties)
                    {
                        <option value="@difficulty.Id">@difficulty.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.DifficultyId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Finish editing" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}