@model IEnumerable<RecipeInfoViewModel>
@{
    ViewBag.Title = "My Recipes";
}

<link rel="stylesheet" href="~/css/card.css">
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var e in Model)
    {
        if (e.IngredientCount == 0)
        {
            <div class="card col-4" style="width: 20rem;">
                <div class="card-body">
                    <section class="main-info">
                        <h3 class="card-title">@e.Name</h3>
                        <img class="card-imgurl" style="height:15rem;" src="@e.ImageUrl" alt="recipe image" />
                        <h5 class="card-cook"><span class="fw-bold">Cooked by:</span> @e.CookFirstName @e.CookLastName</h5>
                    </section>
                    <br />
                    <section class="additional-info">
                        <p class="mb-0"><span class="fw-bold">Preparation time: </span>@e.PreparationTime min</p>
                        <p class="mb-0"><span class="fw-bold">Category: </span> @e.CategoryName </p>
                        <p class="mb-0"><span class="fw-bold">Difficulty level: </span>@e.DifficultyName </p>
                        <p class="mb-0"><span class="fw-bold">Ingredients: </span>@e.IngredientCount</p>
                        <p class="mb-0"><span class="fw-bold">Comments: </span>@e.CommentCount</p>
                        <p class="mb-0"><span class="fw-bold">Made by: </span>@e.MadeByCount<span class="fw-bold"> users</span></p>
                        <br />
                    </section>
                    <section class="date-and-buttons">
                        <div class="date">
                            <p class="mb-0"><span class="fw-bold">Posted on: </span></p>
                            <p>@e.PostedOn</p>
                        </div>
                        <div>
                            <a asp-controller="Ingredient" asp-action="AddIngredients" asp-route-id="@e.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold" >FINISH</a>
                        </div>
                        <div>
                            <form method="post" asp-controller="Recipe" asp-action="Delete" asp-route-id="@e.Id">
                                <button type="submit" class="btn btn-outline-danger mb-2 w-100 p-3 fw-bold">Delete</button>
                            </form>
                        </div>
                        <div>
                            <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@e.Id" class="btn btn-outline-dark mb-2 w-100 p-3 fw-bold">Edit</a>
                        </div>
                    </section>
                </div>
            </div>
        }
        else
        {
            <div class="card col-4" style="width: 20rem;">
                <div class="card-body">
                    <section class="main-info">
                        <h3 class="card-title">@e.Name</h3>
                        <img class="card-imgurl" style="height:15rem;" src="@e.ImageUrl" alt="recipe image" />
                        <h5 class="card-cook"><span class="fw-bold">Cooked by:</span> @e.CookFirstName @e.CookLastName</h5>
                    </section>
                    <br />
                    <section class="additional-info">
                        <p class="mb-0"><span class="fw-bold">Preparation time: </span>@e.PreparationTime min</p>
                        <p class="mb-0"><span class="fw-bold">Category: </span> @e.CategoryName </p>
                        <p class="mb-0"><span class="fw-bold">Difficulty level: </span>@e.DifficultyName </p>
                        <p class="mb-0"><span class="fw-bold">Ingredients: </span>@e.IngredientCount</p>
                        <p class="mb-0"><span class="fw-bold">Comments: </span>@e.CommentCount</p>
                        <p class="mb-0"><span class="fw-bold">Made by: </span>@e.MadeByCount<span class="fw-bold"> users</span></p>
                        <br />
                    </section>
                    <section class="date-and-buttons">
                        <div class="date">
                            <p class="mb-0"><span class="fw-bold">Posted on: </span></p>
                            <p>@e.PostedOn</p>
                        </div>
                        <div>
                            <form method="post" asp-controller="Recipe" asp-action="Delete" asp-route-id="@e.Id">
                                <button type="submit" class="btn btn-outline-danger mb-2 w-100 p-3 fw-bold">Delete</button>
                            </form>
                        </div>
                        <div>
                            <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@e.Id" class="btn btn-outline-dark mb-2 w-100 p-3 fw-bold">Edit</a>
                        </div>
                    </section>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
