@model IEnumerable<RecipeInfoViewModel>
@{
    ViewBag.Title = "Recipe Book";
}

<link rel="stylesheet" href="~/css/card.css">
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body">
                <section class="main-info">
                    <h3 class="card-title">@e.Name</h3>
                    <img class="card-imgurl" style="height:15rem;" src="@e.ImageUrl" alt="recipe image" />
                    <h5 class="card-cook"><span class="fw-bold">Cooked by:</span> @e.Cook.Substring(0, e.Cook.LastIndexOf("@"))</h5>
                </section>
                <br />
                <section class="additional-info">
                    <p class="mb-0"><span class="fw-bold">Preparation time: </span>@e.PreparationTime min</p>
                    <p class="mb-0"><span class="fw-bold">Category: </span> @e.CategoryName </p>
                    <p class="mb-0"><span class="fw-bold">Difficulty level: </span>@e.DifficultyName </p>
                    <p class="mb-0"><span class="fw-bold">Ingredients: </span>@e.IngredientCount</p>
                    <p class="mb-0"><span class="fw-bold">Comments: </span>@e.CommentCount</p>
                    <p class="mb-0"><span class="fw-bold">Made by: </span>@e.MadeByCount<span class="fw-bold"> users</span></p>
                    <br />
                </section>
                <section class="date-and-buttons">
                    <div class="date">
                        <p class="mb-0"><span class="fw-bold">Posted on: </span></p>
                        <p>@e.PostedOn</p>
                    </div>
                    <a asp-controller="Recipe" asp-action="Details" asp-route-id="@e.Id" asp-route-name="@e.GetName()" class="btn btn-outline-warning mb-2 w-100 p-3 fw-bold">More info</a>
                    <div>
                        <form method="post" asp-controller="Recipe" asp-action="RemoveFromRecipeBook" asp-route-id="@e.Id">
                            <button type="submit" class="btn btn-outline-danger mb-2 w-100 p-3 fw-bold">Remove from Recipe book</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
