@model IEnumerable<RecipeInfoViewModel>
@{
    ViewBag.Title = "The Latest Recipe";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<link rel="stylesheet" href="~/css/design.css">
<link rel="stylesheet" href="~/css/site.css">

<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="details-body">
            <section>
                <div class="title" style="align-self: center">
                    <p>@e.Name</p>

                </div>
                <article>
                    <div class="image">
                        <img src="@e.ImageUrl" alt="Recipe image">
                    </div>
                    <header style="align-self: center; ">
                        <div class="details" style="border-bottom-left-radius: 16px; border-bottom-right-radius: 16px;">
                            <div class="icon">
                                <i class="fa-solid fa-person"></i>
                                <p><strong>Chef</strong></p>
                                <p>@e.CookFirstName @e.CookLastName</p>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-users"></i>
                                <p><strong>Made by</strong></p>
                                <p>@e.MadeByCount users</p>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-calendar-days"></i>
                                <p><strong>Posted on</strong></p>
                                <p>@e.PostedOn</p>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-bars"></i>
                                <p><strong>Category</strong></p>
                                <p>@e.CategoryName</p>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-signal"></i>
                                <p><strong>Difficulty level</strong></p>
                                <p>@e.DifficultyName</p>
                            </div>
                            <div class="icon">
                                <i class="fa-regular fa-clock"></i>
                                <p><strong>Time</strong></p>
                                <p>@e.PreparationTime min</p>
                            </div>
                        </div>
                    </header>
                    

                </article>
        </div>
    }

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
