@using RecipeFinder.Core.Contracts.User
@using RecipeFinder.Core.Models.AdminModels
@using RecipeFinder.Core.Models.ApplicationUserModels
@inject IApplicationUserService userService
@model AllUsersQueryModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
<link rel="stylesheet" href="~/css/adminpanel.css" />
<title>RecipeFinder - Admin Panel</title>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#sidebar"
                    aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
            </button>
            <a asp-area="Administrator" asp-action="AdminPanel" asp-controller="Home" class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold">RecipeFinder Admin Panel</a>
        </div>
    </nav>
    <div class="offcanvas offcanvas-start sidebar-nav bg-dark"
         tabindex="-1"
         id="sidebar">
        <div class="offcanvas-body p-0" style="display:flex;flex-direction:column;justify-content:space-between;">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <li>
                        <a asp-area="Administrator" asp-action="AdminPanel" asp-controller="Home" class="nav-link px-3 sidebar-link">
                            <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                            <span> Panel</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link"
                           data-bs-toggle="collapse"
                           href="#layouts">
                            <span class="me-2"><i class="bi bi-layout-split"></i></span>
                            <span>Management</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div id="layouts">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a asp-area="Administrator" asp-action="ManageUsers" asp-controller="Management" class="nav-link px-3 sidebar-link">
                                        <span class="me-2"><i class="bi bi-people-fill"></i></span>
                                        <span> Manage Users</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Administrator" asp-action="ManageRecipes" asp-controller="Management" class="nav-link px-3 sidebar-link">
                                        <span class="me-2"><i class="bi bi-egg-fried"></i></span>
                                        <span> Manage Recipes</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Administrator" asp-action="ManageComments" asp-controller="Management" class="nav-link px-3 sidebar-link">
                                        <span class="me-2"><i class="bi bi-bookmark"></i></span>
                                        <span> Manage Comments</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Administrator" asp-action="ManageCategories" asp-controller="Management" class="nav-link px-3 sidebar-link">
                                        <span class="me-2"><i class="bi bi-border-all"></i></span>
                                        <span> Manage Categories</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <a asp-area="" asp-action="Index" asp-controller="Home" name="btn" class="btn btn-danger mx-3 my-3" style="width:85%;">Exit</a>
        </div>
    </div>
    <main class="mt-5 pt-3">
        <form method="get">
            <div class="container">
                <div class="search-filter-sort row align-items-center">
                    <div class="form-group col-md-2">
                        <label asp-for="Id"></label>
                        <input asp-for="Id" class="form-control" placeholder="by Id...">
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" placeholder="by first name...">
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" placeholder="by last name...">
                    </div>
                    <div class="col-md-2">
                        <div class="form-group mt-4 p-2">
                            <input type="submit" value="Search" class="btn btn-success" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label asp-for="Sorting"></label>
                        <select asp-for="Sorting" class="form-control">
                            <option value="0">Email (Ascending)</option>
                            <option value="1">Email (Descending)</option>
                            <option value="2">First name (Ascending)</option>
                            <option value="3">First name (Descending)</option>
                            <option value="4">Last name (Ascending)</option>
                            <option value="5">Last name (Descending)</option>
                            <option value="6">Id (Ascending)</option>
                            <option value="7">Id (Descending)</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-header">
                        <span><i class="bi bi-table me-2"></i></span> Data Table
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example"
                                   class="table table-striped data-table"
                                   style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>User Id</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                @if (Model.Users.Any())
                                {
                                    <tbody>
                                        @foreach (var item in Model.Users)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.FirstName</td>
                                                <td>@item.LastName</td>
                                                <td>@item.Email</td>
                                                <td>
                                                    <form method="post" asp-area="" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" style="margin-bottom:auto;">
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                </td>
                                                <td>
                                                    @if (await userService.IsAdminAsync(item.Id))
                                                    {
                                                        <form method="post" asp-area="" asp-controller="User" asp-action="Demote" asp-route-id="@item.Id" style="margin-bottom:auto;">
                                                            <button type="submit" class="btn btn-warning">Demote</button>
                                                        </form>
                                                    }
                                                    else
                                                    {
                                                        <form method="post" asp-area="" asp-controller="User" asp-action="Promote" asp-route-id="@item.Id" style="margin-bottom:auto;">
                                                            <button type="submit" class="btn btn-success">Promote</button>
                                                        </form>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5">No data found</td>
                                    </tr>
                                }

                                <tfoot>
                                    <tr>
                                        <th>User Id</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        @if (Model.Users.Any())
        {
            <nav aria-label="Page navigation" style="padding-top:2px;display:flex;justify-content:center;">

                <ul class="pagination">
                    <li class="page-item">
                        @{
                            var previousPage = Model.CurrentPage - 1;
                            if (previousPage < 1)
                            {
                                previousPage = 1;
                            }

                            var maxPage = Math.Ceiling((double)Model.TotalUsersCount /
                            Model.UsersPerPage);
                        }

                        <a class="btn btn-dark @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                           asp-controller="Management"
                           asp-action="ManageUsers"
                           asp-route-currentPage="@previousPage"
                           asp-route-idTerm="@Model.Id"
                           asp-route-firstnameTerm="@Model.FirstName"
                           asp-route-lastnameTerm = "@Model.LastName"
                           asp-route-sorting="@((int)Model.Sorting)">Previous</a>


                        @{
                            var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                            !Model.Users.Any();
                        }



                    </li>
                    <li class="page-item">

                        <a class="btn btn-dark
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
                           asp-controller="Management"
                           asp-action="ManageUsers"
                           asp-route-currentPage="@previousPage"
                           asp-route-idTerm="@Model.Id"
                           asp-route-firstnameTerm="@Model.FirstName"
                           asp-route-lastnameTerm="@Model.LastName"
                           asp-route-sorting="@((int)Model.Sorting)">@Model.CurrentPage</a>

                    </li>

                    <li class="page-item">

                        <a class="btn btn-dark
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
                           asp-controller="Management"
                           asp-action="ManageUsers"
                           asp-route-currentPage="@previousPage"
                           asp-route-idTerm="@Model.Id"
                           asp-route-firstnameTerm="@Model.FirstName"
                           asp-route-lastnameTerm="@Model.LastName"
                           asp-route-sorting="@((int)Model.Sorting)">@(Model.CurrentPage + 1)</a>

                    </li>
                    <li class="page-item">

                        <a class="btn btn-dark
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
                           asp-controller="Management"
                           asp-action="ManageUsers"
                           asp-route-currentPage="@previousPage"
                           asp-route-idTerm="@Model.Id"
                           asp-route-firstnameTerm="@Model.FirstName"
                           asp-route-lastnameTerm="@Model.LastName"
                           asp-route-sorting="@((int)Model.Sorting)">@(Model.CurrentPage + 2)</a>

                    </li>
                    <li class="page-item">

                        <a class="btn btn-dark
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
                           asp-controller="Management"
                           asp-action="ManageUsers"
                           asp-route-currentPage="@previousPage"
                           asp-route-idTerm="@Model.Id"
                           asp-route-firstnameTerm="@Model.FirstName"
                           asp-route-lastnameTerm="@Model.LastName"
                           asp-route-sorting="@((int)Model.Sorting)">Next</a>

                    </li>
                </ul>

            </nav>
        }
    </main>
</body>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="./js/adminpage.js"></script>