@using RecipeFinder.Core.Models.AdminModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AdminPanelServiceModel
@{
    ViewData["Title"] = "Admin Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Dashboard</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card bg-primary text-white h-100">
                <div class="card-body py-5" style="font-size:18px;">Total users count</div>
                <div class="card-footer d-flex">
                    <h3>@Model.TotalUsers</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-warning text-dark h-100">
                <div class="card-body py-5" style="font-size:18px;">Total comments count</div>
                <div class="card-footer d-flex">
                    <h3>@Model.TotalComments</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-success text-white h-100">
                <div class="card-body py-5" style="font-size:18px;">Total recipes count</div>
                <div class="card-footer d-flex">
                    <h3>@Model.TotalRecipes</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header">
                <span><i class="bi bi-table me-2"></i></span> The latest 10
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example"
                           class="table table-striped data-table"
                           style="width: 100%">
                        <thead>
                            <tr>
                                <th>Cook name</th>
                                <th>Recipe name</th>
                                <th>Category</th>
                                <th>Difficulty</th>
                                <th>Posted on</th>
                                <th>Comments</th>
                                <th>Finished</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Latest)
                            {
                                <tr>
                                    <td>@item.CookFirstName @item.CookLastName</td>
                                    <td>@item.Recipe</td>
                                    <td>@item.CategoryName</td>
                                    <td>@item.DifficultyName</td>
                                    <td>@item.PostedOn</td>
                                    <td>@item.CommentsCount</td>
                                    @if (item.IsFinished == true)
                                    {
                                        <td><img src="~/images/checked.png" /></td>
                                    }
                                    else
                                    {
                                        <td><img src="~/images/x.png" /></td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Cook name</th>
                                <th>Recipe name</th>
                                <th>Category</th>
                                <th>Difficulty</th>
                                <th>Posted on</th>
                                <th>Comments</th>
                                <th>Finished</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>